{% load static %}
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>shift-alerts</title>

    
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

    <style>
       
    </style>
  </head>
  <body >
    {% block content %}
    <div class="col-md-6 offset-md-3">
        <span class="anchor" id="formChangePassword"></span>
       
    
        <!-- form card change password -->
        <div class="card card-outline-secondary" style="margin-top:12% ;">
            <div class="card-header">
                <h1 style="margin-left:35% ;">Healthcare</h1>
                <hr>
                <h3 class="mb-0">Change Password</h3>
            </div>
            <div class="card-body">
                {% if msg %}
                <p id="" style="color: red; font-size:20px">{{msg}}</p>
                {% endif %}
                <form class="form" role="form" autocomplete="off" action="" method="post">
                   
                    {% csrf_token %} 
                    <!-- <div class="form-group">
                        <label for="inputPasswordOld">Current Password</label>
                        <input type="password" class="form-control" id="inputPasswordOld" required="">
                    </div> -->
                    <div class="form-group">
                        <label for="inputPasswordNew">New Password</label>
                        <input type="password" class="form-control" id="inputPasswordNew" required="" name="password">
                        <span class="form-text small text-muted">
                                The password must be 8-20 characters, and must <em>not</em> contain spaces.
                            </span>
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordNewVerify">Verify</label>
                        <input type="password" class="form-control" id="inputPasswordNewVerify" required="" name="password2">
                        <span class="form-text small text-muted">
                                To confirm, type the new password again.
                            </span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg float-right" style="background-color: #2753B8;;">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /form card change password -->
    
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
        $("#btnLogin").click(function(event) {
        
        var form = $("#loginForm");
        
        if (form[0].checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        
        // if validation passed form
        // would post to the server here
        
        form.addClass('was-validated');
    });
    </script>






    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
{% endblock content %}
</body>
</html>


