<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Timesheet Report</title>


        <style>
            tr{
                border:1px solid #000;
                padding: 10px !important;
                margin: 10px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="card">
            <div class="card-header">
                <h3>Timesheet Report</h3>
            </div>


            <table>
                <thead>
                    <tr>
                        <th>S.no</th>
                        <th>Emplyee Name</th>
                        <th>Position</th>
                        <th>Clock In </th>
                        <th>Clock Out </th>
                        <th>Date </th>
                        <th>Facility Note </th>
                        <th>Clinic Note</th>
                        <th>Status</th>
                        <th>Reviews	</th>
                        <th>POC Signature </th>
                       
            
                    </tr>
                </thead>
                <tbody>
                    {% for data in data_obj %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <th class="text-center">{{data.clinician_name}}</th>
                        <th class="text-center">{{data.clinician_position}}</th>
                        <th class="text-center">{{data.check_in_time}}</th>
                        <th class="text-center">{{data.check_out_time}}</th>
                        <th class="text-center">{{data.shift_date}}</th>
                        <th class="text-center">{{data.facility_note}}</th>
                        <th class="text-center">{{data.clinician_note}}</th>
                        <th class="text-center">{{data.status}}</th>
                        <th class="text-center">{{data.feedback}}</th>
                        <th class="text-center">{{data.poc_signature}}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </body>
</html> -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Timesheet Report</title>


        <style>
            tr{
                border:1px solid #000;
                padding: 10px !important;
                margin: 10px;
            }
            tbody th,
            tbody td
            {
                min-width: 200px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="card">
            <div class="card-header">
                <h3>Timesheet Report</h3>
            </div>


            <table>
                <thead>
                    <tr>
                        <th>S.no</th>
                        <th>Emplyee Name</th>
                        <th>Position</th>
                        <th>Clock In </th>
                        <th>Clock Out </th>
                        <th>Date </th>
                        <th>Facility Note </th>
                        <th>Clinic Note</th>
                        <th>Status</th>
                        <th>Reviews	</th>
                        <th>POC Signature </th>
                       
            
                    </tr>
                </thead>
                <tbody>
                    {% for data in data_obj %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <th class="text-center">{{data.clinician_name}}</th>
                        <th class="text-center">{{data.clinician_position}}</th>
                        <th class="text-center">{{data.check_in_time}}</th>
                        <th class="text-center">{{data.check_out_time}}</th>
                        <th class="text-center">{{data.shift_date}}</th>
                        <th class="text-center">{{data.facility_note}}</th>
                        <th class="text-center">{{data.clinician_note}}</th>
                        <th class="text-center">{{data.status}}</th>
                        <th class="text-center">{{data.feedback}}</th>
                        <th class="text-center">{{data.poc_signature}}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </body>
</html>
